<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Leo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Leo.My.MySettings.LeoCnn" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Leo.accdb"
            providerName="System.Data.OleDb" />
        <add name="Leo.My.MySettings.leoConnectionString" connectionString="server=localhost;user id=root;database=leo"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <Leo.My.MySettings>
            <setting name="cobro" serializeAs="String">
                <value>cobro</value>
            </setting>
            <setting name="cobro1" serializeAs="String">
                <value>PrintToPrinter</value>
            </setting>
        </Leo.My.MySettings>
    </userSettings>
</configuration>
